In [3]:
import pandas as pd
city_data = pd.read_csv("City_Updated_JS.csv")
city_data.head()

                                           <<<<<<< HEAD:Clean_data/City_Updated_JS.csv
city        state_id state_name population                                     density
New York    NY       New York   18713220                                         10715
Los Angeles CA       California 12750807                                          3276
Chicago     IL       Illinois   8604203                                           4574
Miami       FL       Florida    6445545                                           5019